.widget-adjust-thumbnail-options input[readonly] {
	color: #ccc;
}

.contrast .widget-adjust-thumbnail-options input[readonly] {
	color: #454545;
}

.widget-adjust-thumbnail-options select[name="method"] {
	width: 100%;
}

.widget-adjust-thumbnail-options input[name="background"] {
	width: calc(100% - 14px);
}

.widget-adjust-thumbnail-options .format-combo {
	display: inline-block;
}

.widget-adjust-thumbnail-options .format-combo + .reset-default-value {
	margin-left: .5ex;
}.widget-adjust-thumbnail-version > label
{
	display: block;
	margin-top: .5em;
}

.widget-adjust-thumbnail-version .control-group + .control-group--no-upscale,
.widget-adjust-thumbnail-version .control-group + .control-group--interlace {
	margin-top: 5px;
}

.widget-adjust-thumbnail-version input[readonly] {
	opacity: .5;
}